<%- include('partials/header') %>
<h1 class="heading"><span>-  Select Your Product Category  -</span></h1>
<div class="selectP">
<div class="sports">
<a href="/Sports">S P O R T S</a>
</div>
<div class="phone">
    <a href="/phone">ELECTRONICS</a>
    </div>
    <div class="kitchen">
        <a href="/kitchen">Home Appliance</a>
    </div>
    <div class="furniture">
        <a href="/furniture">FURNITURE</a>
    </div>
    <div class="grocery">
        <a href="/grocery">GROCERY</a>
    </div>
    <div class="pharmacy">
        <a href="/pharmacy">PHARMACY</a>
    </div>
    <div class="beauty">
        <a href="/beauty">BEAUTY</a>
    </div>
    
</div>

<%- include('partials/footer') %>