<%- include('partials/header') %>








<section class="features" id="features">
    <h1 class="heading">Select Any <span>Categories</span></h1>
    <div class="box-container">
        <main>
            <a href="/select">
            <section class="shopping-cards-section">
                <div class="shopping-cards">
                    <div class="mobile">
                  <div class="shopping-card-wrapper">
                    <img
                      src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e570738029a725e686_Furniture-min.png"
                      alt="furniture"
                    />
                    <h2>Furniture</h2>
                  </div>
          
                  <div class="shopping-card-wrapper">
                    <img
                      src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e52d6553668075697e_hand%20bag-min.png"
                      alt="furniture"
                    />
                    <h2>Grocery Bag</h2>
                  </div>
                </div>
                <div class="mobile">
                  <div class="shopping-card-wrapper">
                    <img
                      src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e460afc22b7ea53520_books-min.png"
                      alt="furniture"
                    />
                    <h2>Pharmacy</h2>
                  </div>
                  <div class="shopping-card-wrapper">
                    <img
                      src=" https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e754ac2e32897cb53b_tech-min.png"
                      alt="furniture"
                    />
                    <h2>Electronics</h2>
                  </div>
                </div>
                <div class="mobile">
                  <div class="shopping-card-wrapper">
                    <img
                      src=" https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e64b769118272f244f_sneakers-min.png"
                      alt="furniture"
                    />
                    <h2>Sports</h2>
                  </div>
                  <div class="shopping-card-wrapper">
                    <img
                      src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e71eb4ad6d07e7568f_travel-min.png"
                      alt="furniture"
                    />
                    <h2>Beauty</h2>
                  </div>
                </div>
                </div>
              </section>
            </a>
        </main>
        <!-- <div class="box">
            <img src="../photo/new-arrival-background-modern-style_23-2147895631.avif" alt="bat">
            <h3>Fresh Arrivals</h3>
            <p>The guide on Arrival helps us serve you better and make sure every single passenger at the Delhi Airport has a smooth and convenient experience.</p>
            <button class="btn">Read More</button>
        </div>
    <!-- </div> -->
    <!-- <div class="box-container"> -->
        <!-- <div class="box">
            <img src="../photo/download.png" alt="bat">
            <h3>Fast Delivery</h3>
            <p>A Document Delivery Form useful for requesting documents to be easily delivered to a provided address through collecting receiver group details</p>
            <button class="btn">Read More</button>
        </div> -->
    <!-- </div> -->
    <!-- <div class="box-container"> -->
        <!-- <div class="box">
            <img src="../photo/1673263767450.jpeg" alt="bat">
            <h3>Easy Payments</h3>
            <p>EasyPay allows you to query payment meta-data, receive payment notifications and generate payment references.</p>
            <button class="btn">Read More</button>
        </div> --> 
    </div>

</section>

<%- include('partials/footer') %>